.errors {
    color: red;
    margin-top: -15px;
    margin-bottom: -15px;
}

.eyesIcon {
    position: absolute;
    left: 371px;
    bottom: 106px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.singupTextCenter{
    text-align: center;
    margin-bottom: 20px;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 23px;
}

.form input{
    width: 332px;
    height: 33px;
    padding: 23px;
}

.btn{
    padding: 17px 144px;
}



@media screen and (max-width:385px) {
    .form input{
        width: 260px;
        height: 33px;
        padding: 23px;
    }
    .btn{
        padding: 17px 108px;
    }
    
}
