

/* ***********************************dashboard style**************************** */
.accountContainer {
  display: flex;
  gap: 20px;
}

.rightSectionMenuData{
  width: 85%;
}
.grid_account {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  
  margin-top: 20px;
  grid-auto-rows: minmax(180px auto);
  height: 85vh;
}
.menu{
  width: 15%;
}

.box {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.box1 {
  grid-column: span 1;
  grid-row: span 3;
}

.box4 {
  grid-column: span 1;
  grid-row: span 3;
}

.box7 {
  grid-column: span 2;
  grid-row: span 2;
}
