/* Your existing styles */
.mainCategory {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 34px; */
  margin-top: 14px;
  /* box-shadow: 0px 0px 5px 1px gray; */
}

.leftSection {
  width: 90%;
  overflow:auto; /* for category scroll*/
  position: relative;
  cursor: pointer;
  color: var(--userIconColor); 
}

/* WebKit browsers (Chrome, Safari) */
.leftSection::-webkit-scrollbar {
  width: 0px; /* adjust the width as needed */
}



.category, .skeleton {
  display: flex;
  gap: 20px;
  white-space: nowrap;
}

.chilCategory {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: color 0.3s ease;
}

.chilCategory i {
  margin-bottom: 5px;
}

/* .chilCategory:hover {
  color: black;
  animation: all 3s linear;
  transition: color 0.3s ease;
} */

.righSection {
  width: 10%;
}


.filterbyPrice{
  cursor: pointer;
}


/* ***************media queries************************** */

@media screen and (max-width: 500px) {
  .filterText{
    display: none;
  }
  .filterIonc{
    background-color: var(--primary_Dark_Blue_color);
    width: 38px;
    height: 38px;
    text-align: center;
    border-radius: 50%;
    margin: auto;
  }

  .icon{
   margin-top: 10px;
   color: black;

  }

}
