.cardParents {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 34px;
  }
  /* .chilCard {
    width: 24%;
  } */
  .chilCard {
      width: calc((100% - (3 * 20px)) / 4); /* Calculate width for 4 cards per row with a 10px gap */
      box-sizing: border-box;
      margin: 0; /* Reset margin to avoid additional spacing issues */     
    }   
 
  .chilCard img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
  }

  .roomNotFound{
    display: flex;
    justify-content: center;
   align-items: center;
   margin: auto;
    height: 80vh;
  }

  /* media queries start from here */


  @media screen and (max-width: 1280px) {
    .chilCard img {
        width: 100%;
        height: 290px;
        object-fit: cover;
        border-radius: 8px;
      }    
  }

  @media screen and (max-width: 1024px) {
    .cardParents {
      gap: 30px;
    }
  
    .chilCard {
      width: calc((100% - (2 * 30px)) / 3); /* Adjust the width as needed */
      box-sizing: border-box;
    }
  
    /* Remove right margin for the last card */
    .chilCard:last-child {
      margin-right: 0;
    }
  
    /* Remove left margin for the first card */
    .chilCard:first-child {
      margin-left: 0;
    }
  }
  

  @media screen and (max-width: 769px) {
    .cardParents {
      gap: 30px;
    }
  
    .chilCard {
      width: calc((100% - (1 * 30px)) / 2); /* Adjust the width as needed */
      box-sizing: border-box;
    }
  
    /* Remove right margin for the last card */
    .chilCard:last-child {
      margin-right: 0;
    }
  
    /* Remove left margin for the first card */
    .chilCard:first-child {
      margin-left: 0;
    }
  }

  @media screen and (max-width: 600px) {
    .container{
      padding-left: 20px;
      padding-right: 20px;
    }
    .cardParents {
      gap: 30px;
    }
  
    .chilCard {
      width: calc((100% - (0 * 30px)) / 1); /* Adjust the width as needed */
      box-sizing: border-box;
    }
  
    /* Remove right margin for the last card */
    .chilCard:last-child {
      margin-right: 10;
    }
  
    /* Remove left margin for the first card */
    .chilCard:first-child {
      margin-left: 10;
    }
  }

 


