.searchBar input {
    width: 337px;
    padding: 12px;
    border-radius: 21px;
    border: 1px solid var(--borderColor);
    box-shadow: 0 1px 2px rgba(0,0,0,0.08), 0 4px 12px rgba(0,0,0,0.05);
    outline: none;
}




@media screen and (max-width:470px) {
    .searchBar input{
        width: 200px;
    }
    
}